<body ng-controller="EmployerSelectionController">
  
  <div class = "container-fluid employer-select">
    <img class="img-responsive center-block logo" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/464287/DM0hTdxQgT5J45b/screena_logo.png">
    
    <div class = "jumbotron">
      <h2>I'm looking for a</h2>
      <br>
      <div class = "circle circle-top-left" ng-click="devsPlatform()">
        <p class = "circle-text">Developer</p>
      </div>
      <div class = "circle circle-top-right">
        <p class = "circle-text">Product<br>Management</p></div>
      <div class = "circle circle-bottom-left">
        <p class = "circle-text">Designer</p>
      </div>
      <div class = "circle circle-bottom-right">
        <p class = "circle-text">Digital<br>Marketer</p>
      </div>
    </div>
  </div>
    
  </body>
  
</html>