<div ng-controller="HomeCtrl">
  <div class = "jumbotron container">
    <img class="img-responsive center-block main-logo" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/464287/DM0hTdxQgT5J45b/screena_logo.png">
    <br>
    <p class="lead">Are you an...</p>
    <br>
    <div class="row circle-row">
      <div class = "circle circle-left" >
        <p class = "circle-text">Employer</p>
      </div>
        <div class = "circle circle-right">
          <p class = "circle-text">Prospect</p>
        </div>
    </div>
    <div class="description">
      <p class="lead">
        <strong>screena</strong> is a matchmaking platform <br/>for employers and applicants
      </p>
    </div>
  </div>
</div>
  