<div class="container-fluid"> 
  <div class="well">
    <form name="questionaire" ng-submit="goToNextQuestion();">
      <h1 class="text-center">{{ currentQuestion.label }}</h1>
      
      <div class="text-center" ng-switch="currentQuestion.input_type">
        

        <div ng-switch-when="text">
          <input ng-model="option.selected" placeholder="write answer" required/><br /><br />
          <div class="question-button">
            <button type="submit" ng-click="saveScore(option.selected, 0)" class="btn btn-primary btn-block btn-md">next question...</button>
          </div>
        </div>
        


        <div ng-switch-when="select">
          <div class="btn-group" ng-model="option.selected" role="group" aria-label="..." ng-repeat="option in currentQuestion.options" ng-click="saveScore(option.answer, option.weight)" >
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-primary btn-md">{{ option.answer }}</button>
            </div>
          </div>
        </div>
        

        <div ng-switch-when="checkbox">
          <div ng-repeat="option in currentQuestion.options">
            <input type="checkbox" ng-model="option.selected" ng-change="change(option)" />{{ option.answer }} 
          </div>
          <input type="submit" ng-disabled="selectedCounter==0" value="next question..." class="btn btn-primary btn-md" />
        </div>



      </div>

      <div class="progress" ng-hide="isDone()">
        <button ng-repeat="num in numQuestions()" class="btn btn-xs" ng-class="{'progress-done': isStepDone(num)}">{{ num }}</button>
      </div>
      <div ng-show="isDone()" class="text-center">
        <p>screena will be in contact when a job matches your skills.</p><br />
        <button class="btn btn-primary btn-md">view my dashboard</button>
      </div>
    </form>
  </div>
</div>