<div class="container">
  <div class="row text-center">
    <div class="col-sm-3">
      <p><img src="assets/Amanda400.jpg" class="img-circle team"/></p>
      <p class="lead">Chidi Afluezi</p>
      <p class="role">Lead PM</p>
      <p class="bio">bio placeholder</p>
    </div>
    <div class="col-sm-3">
      <p><img src="assets/Amanda400.jpg" class="img-circle team"/></p>
      <p class="lead">Will Brodnax</p>
      <p class="role">PM</p>
      <p class="bio">bio placeholder</small></p>
    </div>
    <div class="col-sm-3">
      <p><img src="assets/Amanda400.jpg" class="img-circle team"/></p>
      <p class="lead">Liz Korthof</p>
      <p class="role">Developer</p>
      <p class="bio">bio placeholder</small></p>
    </div>
    <div class="col-sm-3">
      <p><img src="assets/Amanda400.jpg" class="img-circle team"/></p>
      <p class="lead">Amanda Raymond</p>
      <p class="role">Developer</p>
      <p class="bio">bio placeholder</small></p>
    </div>
  </div>
</div>